.statusBars {
    display: inline-block;
}

#healthBar {
    background-color: red;
}

.container {
    background-color: grey;
}

#goldBar {
    background-color: gold;
}

#screen {
    height: 500px;
}

h2 {
    font-size: 22px;
}

#startScreen {
    text-align: center;
}

#title {
    text-align: center;
}

.profile {
    width: 500px;
    height: 500px;

}

.enemyArt {
    width: 500px;
    height: 500px;
    margin: auto;
    display: block;
}

.townArt {
    width: 600px;
    height: 400px;
    margin: auto;
    display: block;
}

#artScreen {
    text-align: center;
}