.statusBars {
    display: inline-block;
}

#healthBar {
    background-color: red;
}

#magicBar {
    //background-color: blue;
}

#goldBar {
    background-color: gold;
}

#screen {
    height: 500px;
}